.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111; /* fond noir */
  color: #fff; /* texte blanc */
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 20px;
}

.error-page h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #fff;
}

.error-page h3 {
  font-size: 1.5rem;
  color: #bbb;
}
